body {
	font-family: "HelveticaNeue";
	font-size: 23px;
	overflow-x: hidden;
}
.mob {
	display: none;
}
aside {
	width: 274px;
	left: -340px;
	height: 1215px;
	position: fixed;
	z-index: 10000;
	padding-left: 60px;
	background-color: #292929;
	.icon-menu {
		cursor: pointer;
		margin-left: 300px;
		margin-top: -10px;
	}
	.logo {
		margin-top: 35px;
	}
	.icon-close {
		display: block;
		float: right;
		width: 30px;
		height: 30px;
		margin: 60px 22px 0 0;
		cursor: pointer;
		@include sprite(0,-105px);
	}
	nav {
		margin-top: 145px;
		ul {
			li {
				margin-bottom: 22px;
				&:first-child {
					a {
						color: #fff;
					}
				}
				a {
					font-family: "HelveticaBold";
					font-size: 24.5px;
					text-decoration: none;
					color: #957a5f;
				}
			}
		}
	}
	.social {
		margin-top: 70px;
		a {
			display: inline-block;
			width: 30px;
			height: 30px;
			margin-right: 30px;
			&:first-child {
				@include sprite(0,0);
			}
			&:nth-child(2) {
				@include sprite(-45px,0);
			}
			&:nth-child(3) {
				@include sprite(-108px,0);
			}
			&:last-child {
				@include sprite(-160px,0);
				position: relative;
				bottom: 5px;
				margin-right: 0;
			}
		}
	}
	p {
		font-size: 21px;
		color: #957a5f;
		&:first-of-type {
			padding-top: 520px;
		}
		&:last-of-type {
			padding-top: 18px;
		}
	}
}
.main {
	width: 100%;
	height: 100%;
	float: right;
	text-align: center;
}
header {
	height: auto;
	background-color: #292929;
	position: relative;
	padding-bottom: 210px;
	.top-line {
		position: relative;
		height: 120px;
		.search {
			margin-right: 24px;
			input[type="search"] {
				font-family: "HelveticaNeue";
				width: 185px;
				margin-top: 90px;
				font-size: 23px;
				float: right;
				border: none;
				border-bottom: 1px solid #838383;
				color: #fff;
				background-color: transparent;
			}
			input[type="submit"] {
				width: 30px;
				height: 30px;
				position: absolute;
				right: 25px;
				bottom: 0;
				cursor: pointer;
				background-color: transparent;
				border: none;
				@include sprite(-60px,-110px);
			}
		}
	}
	.images {
		margin-top: 50px;
		left: 0;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		img {
			width: calc(80% / 2);
			margin-right: 8px;
			margin-bottom: 6px;
			max-height: 500px;
		}
		img:nth-child(2n) {
			margin-right: 24px;
		}
	}
	h1 {
		font-family: "PFDinCondensedRegular";
		font-size: 57.5px;
		left: 0;
		position: relative;
		text-align: center;
		padding-top: 150px;
		padding-left: 25%;
		letter-spacing: 36px;
		line-height: 40px;
		color: #fff;
		white-space: pre-line;
		text-transform: uppercase;
		&:before {
			content: "";
			position: absolute;
			width: 8px;
			height: 112px;
			margin-left: -69px;
			margin-top: -40px;
			background-color: #fff;
		}
		span {
			font-family: "dinpro-black";
			font-size: 44.7px;
			letter-spacing: 9px;
			color: #878787;
			padding-left: 260px;
			&:before {
				content: "&";
				position: absolute;
				color: #fff;
				margin-left: -82px;
				margin-top: 20px;
				font-family: "dinpro-black";
				font-size: 118.3px;
			}
		}
	}
	.about {
		max-width: 1500px;
		margin: 120px auto 0 auto;
		left: 0;
		position: relative;
		.video {
			float: left;
			display: inline-block;
			position: relative;
			cursor: pointer;
			&:before {
				content: "";
				position: absolute;
				right: 50%;
				top: 50%;
				width: 178px;
				height: 178px;
				border: 3px solid #fff;
				margin-right: -89px;
				margin-top: -89px;
				border-radius: 50%;
			}
			&:after {
				content: "";
				position: absolute;
				right: 50%;
				top: 50%;
				margin-top: -38px;
				margin-right: -34px;
				border-top: 38px solid transparent;
				border-left: 58px solid #fff;
				border-bottom: 38px solid transparent;
			}
		}
		.text {
			text-align: left;
			display: inline-block;
			margin-left: 40px;
			h2 {
				font-family: "PFDinCondensedRegular";
				font-size: 39px;
				color: #967b5e;
				white-space: pre-line;
				letter-spacing: 10px;
				padding-bottom: 35px;
				span {
					font-family: "HelveticaBold";
					letter-spacing: 12px;
				}
			}
			p {
				color: #fff;
				white-space: pre-line;
				padding-bottom: 35px;
			}
		}
	}
	.stick {
		width: 8px;
		height: 66px;
		background-color: #fff;
		position: absolute;
		left: 50%;
		margin-left: -4px;
		bottom: 0;
	}
}

.projects {
	width: 100%;
	height: auto;
	padding-bottom: 170px;
	background-color: #fff;
	position: relative;
	.stick {
		width: 8px;
		height: 68px;
		background-color: #292929;
		position: absolute;
		left: 50%;
		margin-left: -4px;
		top: 0;
	}
	.stick2 {
		width: 8px;
		height: 66px;
		background-color: #292929;
		position: absolute;
		left: 50%;
		margin-left: -4px;
		bottom: 0;
	}
	h2 {
		font-family: "PFDinCondensedRegular";
		font-size: 57.5px;
		padding-top: 95px;
		letter-spacing: 36px;
		color: #292929;
		text-transform: uppercase;
	}
	.slider {
		width: 80%;
		padding: 0 133px;
		margin: 60px auto 0 auto;
		overflow: hidden;
	}
	.owl-carousel {
		position: relative;
		.owl-item {
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s, visibility 0s linear 0.3s;
		}
		.owl-item.active {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
		}
		.owl-stage-outer {
			overflow: visible;
		}
		.owl-nav.disabled, .owl-carousel .owl-dots.disabled {
		    display: block;
		}
		.owl-prev,
		.owl-next {
			width: 72px;
			height: 76px;
			background-color: #292929;
			@include sprite(25px,-150px);
			color: #292929;
			position: absolute;
			top: 35%;
		}
		.owl-prev {
			left: -133px;
		}
		.owl-next {
			@include sprite(-55px,-150px);
			right: -133px;
		}
		.item {
			max-width: 419px;
			img {
				filter: grayscale(100%);
			}
			&:hover img {
				filter: grayscale(0%);
			}
			.text {
				width: auto;
				height: 109px;
				background-color: #5f5f5f;
				color: #fff;
				padding: 33px 0 0 27px;
				white-space: pre-line;
				transition: 0.3s;
			}

			&:hover .text{
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
				background-color: #292929;
				transition: 0.3s;
			}
		}
	}
}

.reviews {
	height: auto;
	background-color: #292929;
	position: relative;
	.stick {
		width: 8px;
		height: 68px;
		background-color: #fff;
		position: absolute;
		left: 50%;
		margin-left: -4px;
		top: 0;
	}
	h2 {
		font-family: "PFDinCondensedRegular";
		font-size: 57.5px;
		padding-left: 90px;
		padding-top: 95px;
		letter-spacing: 36px;
		color: #fff;
		text-transform: uppercase;
	}
	.bx-wrapper {
		margin: 75px auto 0 auto;
		height: 500px;
	}
	.bxslider {
		position: relative;
		text-align: center;
		li {
			overflow: hidden;
		}
		img {
			display: inline-block;
			margin-right: 75px;
			margin-bottom: 30px;
		}
		.text {
			display: inline-block;
			text-align: left;
			p:first-of-type {
				color: #fff;
				white-space: pre-line;
				padding-right: 40px;
				line-height: 23px;
			}
			p:last-of-type {
				font-family: "HelveticaBold";
				padding-top: 25px;
				white-space: pre-line;
				color: #967b5e;
				line-height: 23px;
			}
		}
	}
}

section.insta {
	height: auto;
	padding-bottom: 30px;
	padding-right: 55px;
	left: 0;
	position: relative;
	h2:first-of-type {
		font-family: "PFDinCondensedRegular";
		font-size: 57.5px;
		text-align: center;
		padding-top: 76px;
		letter-spacing: 31px;
		color: #292929;
		text-transform: uppercase;
		&:before {
			content: "";
			position: absolute;
			width: 136px;
			height: 8px;
			margin-top: 66px;
			margin-left: 2px;
			background-color: #292929;
		}
	}
	.images {
		margin-top: 55px;
		margin-left: 10%;
		left: 0;
		position: relative;
		.container {
			border: 1px solid #ededed;
			display: inline-block;
			margin-right: 4px;
			&:last-child {
				margin-right: 0;
			}
			img {
				padding: 6px 8px;
			}
		}
	}
	h2:last-of-type {
		font-family: "PFDinCondensedRegular";
		font-size: 57.5px;
		padding-top: 105px;
		text-align: center;
		padding-left: 110px;
		letter-spacing: 33px;
		color: #292929;
		text-transform: uppercase;
		&:before {
			content: "";
			position: absolute;
			width: 136px;
			height: 8px;
			margin-top: 66px;
			margin-left: 2px;
			background-color: #292929;
		}
	}
	.slider {
		width: 70%;
		padding: 0 133px;
		margin: 60px auto 0 auto;
		overflow: hidden;
	}
	.owl-carousel2 .item {
	}
	.owl-carousel .item .container {
		padding: 20px;
		border: 1px solid #ededed;
	}
	.owl-nav.disabled, .owl-carousel .owl-dots.disabled {
		display: block;
	}
	.owl-prev,
	.owl-next {
		width: 72px;
		height: 76px;
		background-color: #292929;
		@include sprite(25px,-150px);
		color: #292929;
		position: absolute;
		top: 35%;
	}
	.owl-prev {
		left: -133px;
	}
	.owl-next {
		@include sprite(-55px,-150px);
		right: -133px;
	}
}

footer {
	width: 100%;
	height: 449px;
	color: #fff;
	left: 0;
	position: relative;
	background-color: #292929;
	text-align: center;
	text-transform: uppercase;
	p:first-child {
		font-family: "HelveticaBold";
		font-size: 33px;
		padding-top: 98px;
		letter-spacing: 5px;
	}
	p:nth-child(2) {
		font-family: "HelveticaBold";
		font-size: 18px;
		padding-top: 46px;
		letter-spacing: 5px;
	}
	p:nth-child(3) {
		font-size: 18px;
		font-family: "HelveticaBold";
		padding-top: 33px;
		letter-spacing: 5px;
		white-space: pre-line;
		span {
			text-transform: lowercase;
		}
	}
	.social {
		margin-top: 33px;
		margin-left: 20px;
		a {
			display: inline-block;
			width: 30px;
			height: 30px;
			margin-right: 23px;
			&:first-child {
				@include sprite(0,-55px);
			}
			&:nth-child(2) {
				@include sprite(-45px,-55px);
			}
			&:nth-child(3) {
				@include sprite(-105px,-55px);
			}
			&:last-child {
				width: 40px;
				@include sprite(-160px,-55px);
				margin-right: 0;
			}
		}
	}
}