body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.block-img {
  background-color: #000;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  height: 100vh;
  opacity: 0.8;
  background-size: cover;
}

.block-img:hover {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.block-img:hover span {
  font-size: 6.25rem;
}

.block-img:first-child {
  background-image: url(../images/1.jpg);
}

.block-img:nth-child(2) {
  background-image: url(../images/2.jpg);
}

.block-img:nth-child(3) {
  background-image: url(../images/3.jpg);
}

.block-img:nth-child(4) {
  background-image: url(../images/4.jpg);
}

.block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  color: #fff;
  font-family: 'Bad Script', 'Arial', sans-serif;
  font-size: 4.5rem;
}

span {
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
  top: 50%;
}

@media screen and (max-width: 560px) {
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .block-img {
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .block-img:hover {
    height: 50vh;
  }

  span {
    position: static;
  }
}