footer {
    background-color: red;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

body {
    color: #000;
}

.popup {
    width: 300px;
    height: 400px;
    background-color: #aeaeae;
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(-130%);
    transition: all 0.4s;
}

.popup:target {
    transform: translateX(-50%) translateY(0%);
}

.popup-close {
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 30px;
    text-decoration: none;
}