.ma() {
    margin: 0px auto;
}

@rem: 1rem/16px;
.flex() {
    display: flex;
}

.ral() {
    font-family: "Raleway", sans-serif;
}

.rock() {
    font-family: "Rockwell", sans-serif;
}

.lato() {
    font-family: "Lato", sans-serif;
}

.red() {
    background-color: red;
}

.bg () {
    background-size: cover;
    background-repeat: no-repeat;
}

input {
    border: 0;
    outline: none;
}

@border: #babbc4;
.wrapper {
    .ral;
}

 ::-webkit-input-placeholder {
    color: #000;
    padding-left: 10px;
    font-size: @rem * 15;
    .ral;
}

 ::-moz-placeholder {
    color: #000;
    padding-left: 10px;
    font-size: @rem * 15;
    .ral;
}



 :-moz-placeholder {
    color: #000;
    padding-left: 10px;
    font-size: @rem * 15;
    .ral;
}



 :-ms-input-placeholder {
    color: #000;
    padding-left: 10px;
    font-size: @rem * 15;
    .ral;
}




ul {
    .flex;
    text-transform: uppercase;
    a {
        color: #202242;
        &:hover {
            color: #ffe13e;
            transition: 0.4s;
        }
    }
}

a {
    text-decoration: none;
    outline: none;
}

.container {
    max-width: 1170px;
    .ma;
}

.top-menu {
    .flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    .flex;
    align-items: center;
    .rock;
    font-size: @rem * 30px;
    &__span {
        padding-left: 20px;
        &-bold {
            .rock;
            font-weight: bold;
        }
    }
}

.nav__ul {
    justify-content: space-around;
    width: 500px;
    font-size: @rem * 16;
    .ral;
}

.header__right-block {
    text-align: center;
    border-left: 2px solid @border;
    &-relative {
        height: 150px;
        display: flex;
        align-items: center;
        padding-left: 50px;
    }

    .right-block__span {
        font-size: @rem * 12;
        font-weight: 600;
    }
}

.right-block__chat {
    height: 40px;
    &-relative {
        margin-top: 20px;
    }

    .flex;
    align-items: center;
    .chat__btn {
        .ral;
        font-weight: 600;
        font-size: @rem * 14;
        display: inline-block;
        background-color: #ffe13e;
        padding: 10px 28px;
        &-relative {
            margin-right: 25px;
        }
    }

    .chat__number {
        font-size: @rem * 24;
        .lato;
        font-weight: bold;
        height: 35px;
        position: relative;
        display: flex;
        align-items: center;
        &:before {
            margin-right: 15px;
            left: -12px;
            content: '';
            position: absolute;
            height: 30px;
            width: 2px;
            background-color: @border;
        }
    }
}

.bg-header {
    background-image: url(../images/bg.jpg);
    padding-bottom: 100px;
    .bg;
    color: #fff;
    &__center-block {
        text-align: center;
        .flex;
        flex-direction: column;
        align-items: center;
    }
}

.center-block {
    &__h1 {
        .rock;
        font-size: @rem * 48;
        padding-top: 235px;
        padding-bottom: 40px;
    }
    &__h3 {
        .rock;
        font-size: @rem * 30;
    }
    &__img {
        padding: 60px 0px;
    }
}

.form-input {
    .flex;
    .ma;
    padding: 15px 20px;
    background-color: rgba(221, 221, 221, 0.7);
    max-width: 400px;
    .form__div {
        background-color: #ffe13e;
        padding: 15px 0px;
        position: relative;
        font-weight: bold;
        .flex;
        &-check {
            color: #fff;
            margin-left: 23px;
            width: 150px;
            &:before {
                content: '';
                position: absolute;
                left: 65px;
                top: 0;
                bottom: 0;
                width: 1px;
                background-color: #fff;
            }
        }
        &-com {
            padding-left: 15px;
        }
    }
}