/*------------------------MEDIA-------------------*/

@media screen and (max-width: 990px) {
    html {
        font-size: 14px;
    }
    .h1-summ {
        font-size: 7rem;
    }
    .block-right {
        margin-left: 0px;
    }
    .block-media-right {
        margin-right: 0px;
        text-align: right;
    }
    .media-hr {
        width: 100px;
        margin-right: 600px;
    }
    hr.media-right {
        margin-right: 0px;
    }
    .name {
        text-align: center;
    }
    ul.menu-header {
        margin: 0px auto;
        padding-top: 50px;
    }
}

@media screen and (max-width: 776px) {
    .block-media-right {
        text-align: right;
    }
    .media-hr {
        width: 100px;
        margin-right: 600px;
    }
    html {
        font-size: 14px;
    }
    .circle {
        font-size: 1.513rem;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        width: 150px;
        font-family: "Bebas Neue";
    }
    .span-text {
        background-color: #e83556;
        padding: 60px 5px;
        border-radius: 50%;
        margin-right: 25px;
    }
    .h1-summ {
        font-size: 5rem;
    }
}

@media screen and (max-width: 650px) {
    html {
        font-size: 13px;
    }
    .h1-summ {
        font-size: 6rem;
    }
}

@media screen and (max-width: 500px) {
    .block-footer:nth-child(-n +2) {
        margin: 0px auto;
    }
    .block-footer:nth-child(3) {
        margin: 0px auto;
        margin-top: 10px;
    }
    .p-inform {
        font-size: 1rem;
    }
}

@media screen and (max-width: 560px) {
    .block-1 h4 {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 360px) {
    .circle {
        font-size: 1.313rem;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        width: 100px;
        font-family: "Bebas Neue";
    }
    .span-text {
        background-color: #e83556;
        padding: 50px 5px;
        border-radius: 50%;
        margin-right: 25px;
    }
    .h1-summ {
        font-size: 5rem;
    }
    .block-footer:nth-child(-n + 2) {
        margin-top: auto;
    }
}

@media screen and (max-width: 330px) {
    .block-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .p-inform {
        font-size: 0.8rem;
        font-weight: bold;
    }
    ul.menu-header {
        padding-left: 5px;
        padding-right: 5px;
    }
}