@media(max-width:1519px) {
    .portfolio {
        img {
            width: 20%;
        }
        &-1 img {
            width: 40%;
        }
    }
}


@media(max-width:1260px) {
    .search-rellax {
        display: none;
    }
    .develop {
        &__blocks {
            left: 10%;
            &__block {
                height: 90px;
                width: 230px;
                padding: 70px 20px 70px 20px;
                &:hover {
                    box-shadow: 0 0 10px #00b9e7;
                }
                &:nth-child(2) {
                    &:hover {
                        box-shadow: 0 0 10px #ffcb00;
                    }
                }
                &:last-child {
                    &:hover {
                        box-shadow: 0 0 10px #66bf0d;
                    }
                }
            }
            .container-develop {
                height: 170px;
                position: relative;
                top: -30px;
            }
        }
    }
    .develop-img {
        width: 50%;
        height: auto;
    }
    .searh-rellax {
        font-size: 10rem;
    }
}

@media(max-width: 1160px) {
    .our {
        background-image: none;
    }
    .search-img {
        img {
            width: 70%;
        }
    }
}

@media(max-width:1140px) {
    .tr {
        height: 1000px;
    }
    .trade-process__block:last-child {
        margin-top: 30px;
    }
    .center-block {
        padding-left: 20%;
    }
}

@media(max-width:1129px) {
    .trade-process__block {
        font-size: 14px;
        h2 {
            font-size: 21px;
        }
    }
}

@media(max-width: 1100px) {
    html {
        font-size: 9.5px;
    }
    header img {
        height: auto;
        width: 70%;
    }
    footer {
        .contact-us {
            p {
                font-size: 17px;
            }
            h2 {
                font-size: 22px;
            }
        }
        form {
             ::-webkit-input-placeholder {
                color: #fff;
                padding-left: 10px;
                font-size: 17px;
            }

             ::-moz-placeholder {
                color: #fff;
                padding-left: 10px;
                font-size: 17px;
            }

             :-moz-placeholder {
                color: #fff;
                padding-left: 10px;
                font-size: 17px;
            }

             :-ms-input-placeholder {
                color: #fff;
                padding-left: 10px;
                font-size: 17px;
            }
            .flex-betw {
                span {
                    font-size: 14px;
                }
                button {
                    font-size: 13px;
                }
            }
        }
    }
}

@media(max-width:1000px) {
    .develop {
        &__blocks {
            &__block {
                height: 100px;
                width: 190px;
                padding: 70px 20px 50px 20px;
            }
            .container-develop {
                height: 150px;
            }
        }
    }
}

@media(max-width: 960px) {
    html {
        font-size: 9px;
    }
    header img {
        height: auto;
        width: 60%;
    }
    .tree-us__block:last-child {
        margin-top: 10px;
    }
    .portfolio {
        img {
            width: auto;
        }
        &-1 img {
            width: auto;
        }
    }
    .wrap-950 {
        flex-wrap: wrap;
        text-align: center;
        .search-img {
            margin: 0px auto;
            align-items: center;
        }
    }
    .wrap-100 {
        width: 100%;
    }
    .search-media {
        padding-top: 100px;
    }
    .footer-form {
        width: 550px;
        .area-input {
            padding-bottom: 100px;
        }
    }
    .tree-us__block {
        height: 300px;
        b {
            font-size: 22px;
        }
        p {
            font-size: 17px;
        }
    }
    .studio {
        padding: 120px 0px;
    }
}

@media(max-width:920px) {
    .trade-process__block {
        font-size: 12px;
        h2 {
            font-size: 20px;
        }
        img {
            width: 20%;
        }
    }
}

@media(max-width: 890px) {
    .footer-form {
        width: 400px;
        .area-input {
            padding-bottom: 80px;
        }
         ::-webkit-input-placeholder {
            font-size: 15px;
        }

         ::-moz-placeholder {
            font-size: 15px;
        }

         :-moz-placeholder {
            font-size: 15px;
        }

         :-ms-input-placeholder {
            font-size: 15px;
        }
        .flex-betw {
            span {
                font-size: 11px;
            }
            button {
                font-size: 11px;
            }
        }
    }
    .tree-us__block {
        height: 300px;
        b {
            font-size: 19px;
        }
        p {
            font-size: 14px;
        }
    }
}

@media(max-width:860px) {
    .develop {
        &__blocks {
            left: 0;
            &__block {
                height: 70px;
                width: 160px;
            }
            .container-develop {
                height: 130px;
                padding: 20px 20px 20px 20px;
                position: relative;
                top: -50px;
            }
        }
    }
}

@media(max-width: 784px) {
    .advantag {
        &__block:last-child {
            margin-top: 30px;
        }
    }

    .studio {
        img {
            right: 15%;
        }
    }

    header {
        padding-top: 150px;
    }

    .search {
        padding-top: 70px;
    }

    .trade-process__block {
        h2 {
            font-size: 19px;
        }
    }
}

@media(max-width: 770px) {
    .portfolio {
        img {
            width: 45%;
        }
        &-1 img {
            width: auto;
            margin-top: 10px;
            &:first-child {
                margin-top: 0px;
            }
        }
    }
    .footer-form {
        margin: 0px auto;
    }
    footer .flex-betw {
        flex-wrap: wrap;
        text-align: center;
        .contact-us {
            width: 100%;
            padding-bottom: 80px;
            p {
                font-size: 25px;
            }
            h2 {
                font-size: 30px;
            }
        }
    }
    .footer-form {
        width: 600px;
    }
}

@media(max-width: 745px) {
    .tr {
        height: 1300px;
    }

    .trade-process__block {
        font-size: 15px;
        padding-left: 10%;
        margin-left: 0px;
        margin-top: 30px;
        h2 {
            font-size: 24px;
        }
        img {
            width: 10%;
        }
    }
    .tree-us__block {
        height: 300px;
        b {
            font-size: 17px;
        }
        p {
            font-size: 10.5px;
        }
    }
}

@media(max-width: 700px) {
    .develop {
        &__blocks {
            position: relative;
            left: 0;
            justify-content: center;
            &__block {
                height: 70px;
                width: 160px;
                &:last-child {
                    margin-top: 30px;
                }
            }
            .container-develop {
                height: 130px;
                padding: 20px 20px 20px 20px;
                position: relative;
                top: -50px;
            }
        }
        &-img {
            display: none;
        }
    }

    .dn {
        display: block;
        position: relative;
        text-align: center;
        bottom: -65px;
        color: #333;
    }
}

@media(max-width: 536px) {
    .caption-trade {
        font-size: 3.7rem;
    }
    .center-block {
        padding-left: 15%;
    }
}

@media (max-width: 570px) {
    .trade-process__block {
        padding-left: 0%;
    }

    .develop__blocks {
        margin-right: 30px;
    }

    .tree-us {
        &__block {
            font-size: 12px;
            height: 285px;
        }
        b {
            font-size: 15px;
        }
    }

    .comp {
        padding: 50px 0px 160px;
    }
    footer .flex-betw {
        .contact-us {
            p {
                font-size: 2.563rem;
            }
            h2 {
                font-size: 2.875rem;
            }
        }
    }
}

@media (max-width: 532px) {
    header img {
        margin-top: 30px;
    }

    .advantag {
        &__block {}
        &_content {
            top: 50%;
        }
    }

    .advantag {
        &__block:last-child {
            margin-top: 0px;
        }
    }

    .studio {
        flex-direction: column;
        padding-bottom: 0px;
        img {
            right: 1%;
        }
    }

    .content-studio {
        flex-direction: column;
        text-align: center;
        p {
            padding-top: 30px;
        }
    }
}

@media(max-width: 519px) {
    .develop {
        &__blocks {
            &__block {
                margin-top: 30px;
                flex-grow: 0.5;
                &:first-child {
                    margin-top: 0px;
                }
            }
            .container-develop {
                h3 {
                    font-size: 16px;
                }
            }
        }
        .r-arrow {
            display: none;
        }
        .develop-btn {
            flex-grow: 1;
            text-align: center;
            font-size: 10px;
        }
    }

    .content-wrap {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .search-content {
        p,
        b {
            font-size: 12px;
        }
        b {
            font-size: 18px !important;
        }
    }

    .search-img {
        flex-direction: row;
        margin-top: 20px;
        justify-content: center;
    }

    .g_y img {
        height: 30%;
        width: 30%;
        &:last-child {
            margin-top: 0px;
            margin-left: 100px;
        }
    }
    footer .flex-betw {
        flex-wrap: wrap;
        text-align: center;
        .contact-us {
            width: 100%;
            padding-bottom: 80px;
        }
    }
}

@media(max-width: 450px) {
    .tr {
        height: 1300px;
    }
}

@media(max-width: 440px) {
    .center-block {
        padding-left: 10%;
    }
    .wrap-100 {
        b {
            font-size: 2.7rem !important;
        }
        p {
            font-size: 15px !important;
        }
    }
    .content-studio {
        p {
            font-size: 11.5px;
        }
    }
}

@media(max-width: 425px) {
    .footer-form button {
        margin: 0px auto;
        flex-grow: 0.5;
    }
}

@media(max-width: 420px) {
    html {
        font-size: 7.5px;
    }

    .portfolio {
        padding-top: 50px;
        img {
            width: 100%;
        }
    }
    .advantag_content {
        b {
            font-size: 4.5rem;
        }
        p.desk_number {
            font-size: 1.5rem;
        }
    }
}

@media(max-width: 415px) {
    .center-block {
        padding-left: 0%;
        font-size: 2rem;
    }
    .content-studio {
        p {
            font-size: 14px;
            margin: 0px -10px;
        }
        b {
            font-size: 25px;
        }
    }
}

@media(max-width: 375px) {
    .wrap-100 {
        b {
            font-size: 2.7rem !important;
        }
        p {
            font-size: 13px !important;
        }
        .desk-b {
            font-size: 12.5px !important;
        }
    }
    .develop__blocks__block {
        font-size: 7.5px;
    }

    html {
        font-size: 7px;
    }

    .tree-us__block {
        font-size: 9px;
        b {
            font-size: 14px;
        }
    }

    .caption {
        font-size: 3.6rem;
    }

    .desk__p {
        font-size: 1.4rem;
    }
    h2.caption-trade {
        font-size: 5rem;
    }
    .cap-block h2 {
        font-size: 20px;
    }
}

@media(max-width: 360px) {
    html {
        font-size: 6px;
    }
}

@media(max-width: 330px) {
    .caption {
        font-size: 3.7rem;
    }

    .desk__p {
        font-size: 8.755px;
    }
}
